<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../includes/head') %>
</head>

<body class="d-flex h-100">
    <div class="cover-container d-flex w-100 h-100 flex-column">
        <%- include('./../includes/header') %>
            <main class="container p-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Sku</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let product of products) { %>
                            <tr>
                                <td>
                                    <%= product.productId.sku %>
                                </td>
                                <td>
                                    <%= product.productId.title %>
                                </td>
                                <td>
                                    <%= product.quantity %>
                                </td>
                                <td>
                                    <form method="POST" action="/shopping-cart/delete">
                                        <input type="hidden" value="<%= product.productId._id %>" name="productId">
                                        <button class="btn btn-danger btn-outline">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <form action="/shopping-cart/order" method="POST">
                    <button class="btn btn-primary" type="submit">
                        Convert to order
                    </button>
                </form>
            </main>
    </div>
    <%- include('./../includes/footer') %>
</body>

</html>