<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./../includes/head') %>
</head>

<body class="d-flex h-100">
    <div class="cover-container d-flex w-100 h-100 flex-column">
        <%- include('./../includes/header') %>
            <main class="container p-3">
                <div class="row">
                    <% for(let product of products) { %>
                        <div class="card col-12 col-sm-6 col-md-4 col-lg-3" id="product-<%= product._id %>">

                            <img src="<%= product.imageUrl %>" class="card-img-top" alt="image of <%= product.sku %>">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <%= product.title %>
                                </h5>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-secondary mx-1" href="/products/<%= product._id %>">
                                        Details
                                    </a>
                                    <%- include('./../shopping-cart/add-to-cart', {product}) %> 
                                </div>
                            </div>

                        </div>
                    <% } %>
                </div>
            </main>
    </div>
    <%- include('./../includes/footer') %>
</body>

</html>