<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">
                Sku
            </span>
        </div>
        <input type="text" class="input input-bordered w-full" name="sku" value="<%= product?.sku %>" />
    </label>
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">
                Title
            </span>
        </div>
        <input type="text" class="input input-bordered w-full" name="title" value="<%= product?.title %>" />
    </label>
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">
                Link Url
            </span>
        </div>
        <input type="text" class="input input-bordered w-full" name="imageUrl" value="<%= product?.imageUrl %>" />
    </label>
    <label class="form-control w-full">
        <div class="label">
            <span class="label-text">
                Price
            </span>
        </div>
        <input type="number" class="input input-bordered w-full" name="price" value="<%= product?.price %>" />
    </label>
    <label class="col-span-2 form-control w-full">
        <div class="label">
            <span class="label-text" value="<%= product?.description %>">
                Description
            </span>
        </div>
        <textarea class="textarea textarea-bordered w-full" name="description"></textarea>
    </label>
</div>